.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .sideleft{
      flex-direction: row-reverse;
  }

  .sideright{
      flex-direction: row;
  }

  .sideright > div{
    text-align: start;
}

.title{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.card-deck .card > a{
    text-decoration: none;
    color : black;
}

.card > a >img {
    margin-top: 5px;
    height: 400px;
    object-fit: contain;
}

.card:hover{
    top: -5px;
    box-shadow: solid;
}


@media screen and (max-width: 576px) {
    .sideleft {
        justify-content: center;
        margin-bottom: 15px;
    }
    .sideright{
        justify-content: center;
    }

    .sideright > div{
        text-align: center;
    }
  }